.Body-text {
    color:  white;
    background-color: rgba(57, 149, 163, 0.7);
    padding-bottom: 2em;
}
.Body-text * {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.Body-header {
    padding-top: 1em;
    max-width: 20em;
}
.Body-welcome {
    margin-bottom: 2em;
    max-width: 50em;
}
