/* login */
.App-login {
  font-size: medium;
  float: left;
  width: 25%;
}

.App-login .username {
  margin-top: 10px;
}

.App-login button {
  height: 35px;
  width: 100px;
  margin-bottom: 15px;
}
