body {
  padding: 3em 2em;
  text-align: center;
  /*overflow: auto;*/
}

.App-header {
  background-color: rgba(57, 149, 163, 0.7);
  height: 140px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: medium;
  color: #255D66;
}
.App-intro * {
  max-width: 20em;
  margin: 1.2em auto 1em;
}
.App-intro h3 {
  font-weight: 700;
}
.App-intro h5 {
  font-weight: 400;
}

.parallax-container {
    height: 350px;
}