body {
  text-align: center;
}

.App-header {
  background-color: #111;
  height: 160px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: medium;
  color: #111;
}

.App-body {
  overflow:auto;
  background-color: #111;
}
