nav {
    background-color: #255D66;
}
nav a:hover,a:focus {
    color: #ACADCC;
}

#sidenav-overlay {
    z-index: 996;
}

#nav-mobile {
    z-index: 1000;
    background-color: rgba(37, 93, 102, 0.98);
}
#nav-mobile * {
    color: white;
    font-size: medium;
}

#nav-mobile a {
    font-weight: 700;
}

#nav-mobile a:hover,a:focus {
    background-color: #215861;
}