nav {
    background-color: #255D66;
}
nav a:hover,a:focus {
    color: #ACADCC;
}
nav a * {
    color: white;
}

#sidenav-overlay {
    z-index: 996;
}

#nav-mobile {
    z-index: 1000;
    background-color: rgba(37, 93, 102, 0.98);
}
#nav-mobile * {
    color: white;
}

#nav-mobile li > a {
    font-size: medium;
}

#nav-mobile a:hover,a:focus {
    background-color: #215861;
}

/* DROPDOWN MENU */

ul li div.dropdown {
    min-width: 15%;
    margin-top: 2px;
    margin-right: 4px;

    display: none;
    position: absolute;
    z-index: 999;
    right: 0;
    border-radius: 12px;
    border: 1px solid rgba(208, 255, 255, 0.7);

    background: rgba(57, 149, 163, 1);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
        0 1px 5px 0 rgba(0,0,0,0.12),
        0 3px 1px -2px rgba(0,0,0,0.2);
}
ul li:hover div.dropdown {
    display: block;
}

#nav-mobile li a div.dropdown {
    min-width: 100%;
    background: rgba(57, 149, 163, 0.5);
    display: block;
}